<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.mp.mapper.DynaAmsSoaserviceMapper">

    <resultMap id="BaseResultMap" type="com.bobo.mp.domain.DynaAmsSoaservice">
            <id property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="domainid" column="DOMAINID" jdbcType="DECIMAL"/>
            <result property="codeno" column="CODENO" jdbcType="VARCHAR"/>
            <result property="nameCh" column="NAME_CH" jdbcType="VARCHAR"/>
            <result property="nameEn" column="NAME_EN" jdbcType="VARCHAR"/>
            <result property="pVersion" column="P_VERSION" jdbcType="VARCHAR"/>
            <result property="nameSoa" column="NAME_SOA" jdbcType="VARCHAR"/>
            <result property="typeSoa" column="TYPE_SOA" jdbcType="DECIMAL"/>
            <result property="createUserName" column="CREATE_USER_NAME" jdbcType="VARCHAR"/>
            <result property="updateUserName" column="UPDATE_USER_NAME" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,DOMAINID,CODENO,
        NAME_CH,NAME_EN,P_VERSION,
        NAME_SOA,TYPE_SOA,CREATE_USER_NAME,
        UPDATE_USER_NAME,CREATE_TIME,UPDATE_TIME
    </sql>
</mapper>
