<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.mp.mapper.SaasyunstItemManagermentMapper">

    <resultMap id="BaseResultMap" type="com.mashibing.internalcommon.domain.pojo.SaasyunstItemManagerment">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="bizUserId" column="biz_user_id" jdbcType="VARCHAR"/>
        <result property="itemNo" column="item_no" jdbcType="VARCHAR"/>
        <result property="parentItemNo" column="parent_item_no" jdbcType="VARCHAR"/>
        <result property="itemName" column="item_name" jdbcType="VARCHAR"/>
        <result property="itemDesc" column="item_desc" jdbcType="VARCHAR"/>
        <result property="itemTier" column="item_tier" jdbcType="TINYINT"/>
        <result property="itemScene" column="item_scene" jdbcType="TINYINT"/>
        <result property="seqNo" column="seq_no" jdbcType="INTEGER"/>
        <result property="itemPrice" column="item_price" jdbcType="BIGINT"/>
        <result property="isRealName" column="is_real_name" jdbcType="TINYINT"/>
        <result property="receiverId" column="receiver_id" jdbcType="VARCHAR"/>
        <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="modifiedUserName" column="modified_user_name" jdbcType="VARCHAR"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="applicationId" column="application_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,biz_user_id,item_no,
        item_name,item_desc,item_tier,
        item_scene,seq_no,item_price,
        is_real_name,receiver_id,receiver_name,
        status,create_user_name,gmt_create,
        modified_user_name,gmt_modified,application_id,
        parent_item_no
    </sql>
</mapper>
