<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SmartyunstBillPaymentCheckDetailMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SmartyunstBillPaymentCheckDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="applicationId" column="application_id" jdbcType="VARCHAR"/>
            <result property="applicationName" column="application_name" jdbcType="VARCHAR"/>
            <result property="storeId" column="store_id" jdbcType="VARCHAR"/>
            <result property="storeName" column="store_name" jdbcType="VARCHAR"/>
            <result property="branchId" column="branch_id" jdbcType="VARCHAR"/>
            <result property="branchName" column="branch_name" jdbcType="VARCHAR"/>
            <result property="paymentId" column="payment_id" jdbcType="VARCHAR"/>
            <result property="paymentName" column="payment_name" jdbcType="VARCHAR"/>
            <result property="recieverId" column="reciever_id" jdbcType="VARCHAR"/>
            <result property="recieverName" column="reciever_name" jdbcType="VARCHAR"/>
            <result property="checkBatchNo" column="check_batch_no" jdbcType="VARCHAR"/>
            <result property="checkDate" column="check_date" jdbcType="TIMESTAMP"/>
            <result property="runType" column="run_type" jdbcType="TINYINT"/>
            <result property="billOrderTime" column="bill_order_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
            <result property="serviceOrderNo" column="service_order_no" jdbcType="VARCHAR"/>
            <result property="oriAgentCollectBizOrderNo" column="ori_agent_collect_biz_order_no" jdbcType="VARCHAR"/>
            <result property="itemAmount" column="item_amount" jdbcType="BIGINT"/>
            <result property="isReceiver" column="is_receiver" jdbcType="TINYINT"/>
            <result property="itemFee" column="item_fee" jdbcType="BIGINT"/>
            <result property="itemTransScene" column="item_trans_scene" jdbcType="TINYINT"/>
            <result property="isFixed" column="is_fixed" jdbcType="TINYINT"/>
            <result property="reconStatus" column="recon_status" jdbcType="TINYINT"/>
            <result property="reconOperator" column="recon_operator" jdbcType="VARCHAR"/>
            <result property="checkResult" column="check_result" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,application_id,application_name,
        store_id,store_name,branch_id,
        branch_name,payment_id,payment_name,
        reciever_id,reciever_name,check_batch_no,
        check_date,run_type,bill_order_time,
        remark,create_time,update_time,
        creator,modifier,service_order_no,
        ori_agent_collect_biz_order_no,item_amount,is_receiver,
        item_fee,item_trans_scene,is_fixed,
        recon_status,recon_operator,check_result
    </sql>
</mapper>
